@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;800&display=swap');

.title-font {
    font-family: 'EB Garamond', serif;
    // font-size: 50px;
}
.title-font-emphasized {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
}